In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [1]:
! pip install imblearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imblearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (from imblearn) (0.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.21.6)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (3.1.0)

In [2]:
import pandas as pd

In [4]:
raw = pd.read_csv("사과 당도 및 기후_당산비.csv", encoding = "cp949")
raw

,년도,지역,과중(g),경도 평균(단단함),당도,당산비,당산비_SCORE,산도,PLANTY_SCORE,1월 평균 기온,...,3월 합계 일사량(MJ/m2),4월 합계 일사량(MJ/m2),5월 합계 일사량(MJ/m2),6월 합계 일사량(MJ/m2),7월 합계 일사량(MJ/m2),8월 합계 일사량(MJ/m2),9월 합계 일사량(MJ/m2),10월 합계 일사량(MJ/m2),11월 합계 일사량(MJ/m2),12월 합계 일사량(MJ/m2)
0,2015,김제,329.6,30.2,14.6,41.714286,1,0.35,10.52,0.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,김제,352.9,32.1,14.7,42.000000,1,0.35,10.59,-0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,김제,377.9,32.2,13.9,43.437500,1,0.32,10.03,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,충주,335.2,31.1,13.6,43.870968,1,0.31,9.82,-2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,포천,348.6,34.3,15.4,42.777778,1,0.36,11.08,-3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017,화성,376.3,32.7,13.8,38.333333,2,0.36,10.26,-1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017,남해,384.4,37.4,14.5,41.428571,1,0.35,10.45,2.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017,춘천,258.9,34.5,14.8,43.529412,1,0.34,10.66,-3.0,...,428.20,543.97,623.47,631.98,428.04,425.35,461.76,355.66,249.31,229.47
8,2018,군위,341.6,31.4,14.6,33.953488,2,0.43,10.82,-4.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2018,청송,250.2,53.2,12.7,39.687500,2,0.32,9.49,-4.0,...,473.31,565.62,586.60,561.25,619.03,534.08,367.10,398.14,280.45,267.29
10,2018,장수,286.6,55.6,12.8,58.181818,1,0.22,9.26,-3.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2018,거창,283.6,61.1,13.0,33.333333,2,0.39,9.70,-2.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2018,충주,261.6,36.7,15.6,35.454545,2,0.44,11.52,-4.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2018,포천,324.8,34.5,16.0,34.782609,2,0.46,11.80,-6.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2018,화성,305.8,36.6,14.8,32.173913,1,0.46,10.66,-3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2018,김제,301.5,35.6,14.0,35.897436,3,0.39,10.70,-2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2018,남해,420.5,35.0,15.2,31.666667,1,0.48,10.94,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2018,춘천,232.9,36.7,15.3,34.772727,3,0.44,11.61,-5.5,...,418.73,498.66,566.15,622.37,598.56,545.21,449.98,325.79,209.29,223.95
18,2018,완주,298.4,39.5,12.9,35.833333,3,0.36,9.93,-2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2019,군위,292.7,53.1,12.5,41.666667,1,0.30,9.05,-2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2019,청송,261.1,58.2,14.7,37.692308,3,0.39,11.19,-1.7,...,474.63,510.80,717.97,606.10,492.74,572.43,374.38,360.61,285.96,267.34
21,2019,영주,356.7,53.8,12.9,39.090909,1,0.33,9.33,-1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2019,장수,258.2,62.0,12.9,33.947368,2,0.38,9.63,-2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2019,거창,266.5,54.4,12.3,33.243243,1,0.37,8.91,-0.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2019,충주,316.2,55.3,14.1,34.390244,2,0.41,10.47,-2.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2019,포천,328.2,38.0,16.1,32.200000,1,0.50,11.57,-3.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2019,화성,384.2,35.5,14.1,27.647059,1,0.51,10.17,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2019,완주,276.7,35.8,12.4,25.833333,1,0.48,8.98,-1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2020,군위,251.5,60.9,15.2,36.190476,2,0.42,11.24,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2020,청송,283.1,54.4,13.9,35.641026,2,0.39,10.33,0.7,...,514.07,613.66,633.12,634.15,407.68,486.84,395.94,420.68,283.30,296.73
30,2020,영주,318.0,55.1,13.9,32.325581,1,0.43,10.03,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2020,장수,300.3,63.3,12.9,34.864865,2,0.37,9.63,0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2020,충주,221.3,55.8,10.5,33.870968,2,0.31,7.95,0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2020,포천,252.2,34.5,13.4,33.500000,1,0.40,9.68,-0.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2020,화성,284.3,36.2,13.6,37.777778,2,0.36,10.12,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2021,포천,314.3,34.1,12.9,36.857143,2,0.35,9.63,-5.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2021,화성,273.7,41.2,12.6,43.448276,1,0.29,9.12,-1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
raw_dr = raw.dropna(axis=1)
raw_dr

,년도,지역,과중(g),경도 평균(단단함),당도,당산비,당산비_SCORE,산도,PLANTY_SCORE,1월 평균 기온,...,3월 일교차,4월 일교차,5월 일교차,6월 일교차,7월 일교차,8월 일교차,9월 일교차,10월 일교차,11월 일교차,12월 일교차
0,2015,김제,329.6,30.2,14.6,41.714286,1,0.35,10.52,0.4,...,11.9,10.5,11.1,9.1,7.2,8.6,10.5,10.6,6.9,7.6
1,2016,김제,352.9,32.1,14.7,42.000000,1,0.35,10.59,-0.7,...,11.1,11.3,11.6,8.5,7.4,8.5,8.2,8.4,9.6,9.0
2,2017,김제,377.9,32.2,13.9,43.437500,1,0.32,10.03,0.3,...,11.4,11.5,12.0,9.8,6.7,7.7,9.9,9.7,10.6,8.3
3,2017,충주,335.2,31.1,13.6,43.870968,1,0.31,9.82,-2.5,...,13.6,14.9,15.3,13.5,7.4,8.3,12.0,11.8,12.5,10.5
4,2017,포천,348.6,34.3,15.4,42.777778,1,0.36,11.08,-3.5,...,15.2,15.2,15.4,13.9,7.5,8.7,13.6,14.0,12.9,11.0
5,2017,화성,376.3,32.7,13.8,38.333333,2,0.36,10.26,-1.1,...,11.8,11.8,12.7,10.8,6.6,7.6,10.4,11.2,10.4,9.1
6,2017,남해,384.4,37.4,14.5,41.428571,1,0.35,10.45,2.8,...,10.7,11.1,11.8,10.2,8.0,8.0,9.1,8.2,10.8,9.9
7,2017,춘천,258.9,34.5,14.8,43.529412,1,0.34,10.66,-3.0,...,13.5,14.0,13.4,12.3,6.4,7.6,11.2,11.2,11.0,10.0
8,2018,군위,341.6,31.4,14.6,33.953488,2,0.43,10.82,-4.1,...,15.3,15.7,13.8,12.9,11.3,12.8,11.6,14.8,15.5,13.6
9,2018,청송,250.2,53.2,12.7,39.687500,2,0.32,9.49,-4.0,...,14.5,15.4,13.3,13.0,11.0,11.2,10.0,12.6,13.8,12.3
10,2018,장수,286.6,55.6,12.8,58.181818,1,0.22,9.26,-3.9,...,14.3,14.4,11.9,12.2,10.6,10.9,11.3,13.7,14.6,11.7
11,2018,거창,283.6,61.1,13.0,33.333333,2,0.39,9.70,-2.3,...,15.2,15.0,12.7,12.1,10.5,10.8,10.3,14.2,15.2,12.4
12,2018,충주,261.6,36.7,15.6,35.454545,2,0.44,11.52,-4.7,...,13.0,14.5,12.7,11.7,9.9,10.2,11.2,13.0,12.8,11.2
13,2018,포천,324.8,34.5,16.0,34.782609,2,0.46,11.80,-6.4,...,13.3,13.7,12.4,11.9,9.7,10.1,11.6,14.2,12.9,12.4
14,2018,화성,305.8,36.6,14.8,32.173913,1,0.46,10.66,-3.7,...,10.9,11.3,10.8,10.8,9.4,9.3,9.2,11.2,10.7,9.4
15,2018,김제,301.5,35.6,14.0,35.897436,3,0.39,10.70,-2.0,...,11.3,11.1,10.5,9.7,8.3,8.9,8.7,10.3,10.3,8.5
16,2018,남해,420.5,35.0,15.2,31.666667,1,0.48,10.94,0.9,...,11.4,11.1,9.5,9.0,8.6,8.3,7.4,9.9,9.6,8.4
17,2018,춘천,232.9,36.7,15.3,34.772727,3,0.44,11.61,-5.5,...,12.5,13.3,11.7,11.5,8.9,9.0,10.3,11.7,10.5,11.1
18,2018,완주,298.4,39.5,12.9,35.833333,3,0.36,9.93,-2.7,...,14.2,14.5,13.4,13.1,11.0,11.3,11.7,13.1,13.7,11.7
19,2019,군위,292.7,53.1,12.5,41.666667,1,0.30,9.05,-2.7,...,15.8,15.0,17.8,13.4,9.9,11.3,10.0,13.1,15.0,13.4
20,2019,청송,261.1,58.2,14.7,37.692308,3,0.39,11.19,-1.7,...,14.5,15.2,17.7,13.2,9.1,10.2,9.6,11.8,13.9,12.4
21,2019,영주,356.7,53.8,12.9,39.090909,1,0.33,9.33,-1.5,...,13.1,13.7,15.5,12.4,9.0,10.5,10.2,12.0,12.8,10.2
22,2019,장수,258.2,62.0,12.9,33.947368,2,0.38,9.63,-2.2,...,14.1,13.6,16.4,11.1,8.3,10.2,10.5,12.7,14.9,11.2
23,2019,거창,266.5,54.4,12.3,33.243243,1,0.37,8.91,-0.4,...,14.7,13.8,16.5,11.8,8.8,10.0,9.3,12.5,14.8,13.2
24,2019,충주,316.2,55.3,14.1,34.390244,2,0.41,10.47,-2.6,...,13.5,13.7,16.5,11.6,9.0,9.4,9.7,11.7,13.1,9.9
25,2019,포천,328.2,38.0,16.1,32.200000,1,0.50,11.57,-3.9,...,14.0,14.8,15.9,11.6,8.8,10.0,11.0,13.5,13.7,10.5
26,2019,화성,384.2,35.5,14.1,27.647059,1,0.51,10.17,-1.0,...,11.2,11.5,13.0,9.9,8.2,9.0,8.7,10.2,10.8,8.6
27,2019,완주,276.7,35.8,12.4,25.833333,1,0.48,8.98,-1.2,...,15.1,14.0,17.0,11.9,8.8,10.0,9.8,11.9,14.0,11.8
28,2020,군위,251.5,60.9,15.2,36.190476,2,0.42,11.24,1.4,...,15.5,16.1,13.5,12.6,7.7,8.7,10.2,14.2,13.9,13.7
29,2020,청송,283.1,54.4,13.9,35.641026,2,0.39,10.33,0.7,...,15.3,15.8,13.9,14.1,8.5,9.7,10.7,14.3,14.1,13.7
30,2020,영주,318.0,55.1,13.9,32.325581,1,0.43,10.03,1.4,...,13.3,14.0,11.6,11.1,7.2,7.9,10.1,13.4,11.4,10.3
31,2020,장수,300.3,63.3,12.9,34.864865,2,0.37,9.63,0.6,...,13.7,14.8,11.9,10.4,6.7,7.6,9.8,14.4,13.2,11.4
32,2020,충주,221.3,55.8,10.5,33.870968,2,0.31,7.95,0.6,...,14.4,15.0,12.1,10.9,7.7,7.5,9.6,13.7,12.3,11.5
33,2020,포천,252.2,34.5,13.4,33.500000,1,0.40,9.68,-0.4,...,15.2,15.3,11.4,11.4,8.6,6.5,11.0,15.4,12.6,12.0
34,2020,화성,284.3,36.2,13.6,37.777778,2,0.36,10.12,1.8,...,11.5,11.2,10.6,10.2,7.6,6.5,9.1,10.9,9.4,8.7
35,2021,포천,314.3,34.1,12.9,36.857143,2,0.35,9.63,-5.2,...,14.4,13.8,12.1,10.9,0.0,9.1,11.0,12.3,13.3,11.8
36,2021,화성,273.7,41.2,12.6,43.448276,1,0.29,9.12,-1.8,...,11.8,11.4,10.3,9.8,9.3,8.3,0.0,9.6,9.7,9.4

In [18]:
raw_dr['planty_score_lb'] = pd.cut(raw_dr['PLANTY_SCORE'],4,labels=[1,2,3,4])
raw_dr['planty_score_lb'].astype('float64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0     3.0
1     3.0
2     3.0
3     2.0
4     4.0
5     3.0
6     3.0
7     3.0
8     3.0
9     2.0
10    2.0
11    2.0
12    4.0
13    4.0
14    3.0
15    3.0
16    4.0
17    4.0
18    3.0
19    2.0
20    4.0
21    2.0
22    2.0
23    1.0
24    3.0
25    4.0
26    3.0
27    2.0
28    4.0
29    3.0
30    3.0
31    2.0
32    1.0
33    2.0
34    3.0
35    2.0
36    2.0
Name: planty_score_lb, dtype: float64

In [19]:
x_train, y_train = raw_dr.drop(columns=['planty_score_lb','년도','지역','과중(g)','경도 평균(단단함)']), raw_dr['planty_score_lb']

In [20]:
## data scailing

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 1))
scaler.fit_transform(x_train)
x_train = scaler.fit_transform(x_train)

In [ ]:
## data copying

from sklearn.datasets import make_classification
from sklearn.decomposition import PCA
from imblearn.over_sampling import SMOTE
from sklearn import preprocessing
from sklearn import utils

# 모델설정
sm = SMOTE(sampling_strategy=0.6)


#lab = preprocessing.LabelEncoder()
#x_transformed = lab.fit_transform(x_train)
#y_transformed = lab.fit_transform(y_train)


# train데이터를 넣어 복제함
X_resampled, y_resampled = sm.fit_resample(x_train,list(y_train))

print('After OverSampling, the shape of train_X: {}'.format(X_resampled.shape))
print('After OverSampling, the shape of train_y: {} \n'.format(X_resampled.shape))

print("After OverSampling, counts of label '1': {}".format(sum(y_resampled==1)))
print("After OverSampling, counts of label '0': {}".format(sum(y_resampled==0)))